<h1>blog<h1>
	<div class="text-center">
	<iframe src="//fast.wistia.net/embed/iframe/tcfqxxqlqb" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="940" height="688"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
</div>
